# See https://help.github.com/ignore-files/ for more about ignoring files.
.vscode
# dependencies
/node_modules
node_modules

# misc
.DS_Store
.idea

npm-debug.log*
.env
.env.development
.env.production
Makefile
dist/